<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhc.springbootoauthserver.mapper.SecUserMapper">
    <resultMap id="BaseResultMap" type="com.fhc.springbootoauthserver.entity.SecUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="enabled" jdbcType="TINYINT" property="enabled"/>
        <result column="is_delete" jdbcType="TINYINT" property="delete"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,username,password,nickname,email,phone,sex,enabled,is_delete,birthday,create_time,update_time
    </sql>

    <select id="getAllSecUsers" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from sec_user where is_delete=0
    </select>
    <select id="findByUsernameOrPhone" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from sec_user
        where username=#{username,jdbcType=VARCHAR} or phone=#{phone,jdbcType=VARCHAR}
    </select>
    <select id="getUserIdByUsername" resultType="String">
        select id
        from sec_user
        where username=#{username,jdbcType=VARCHAR}
    </select>
    <select id="findByUsernameIn" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from sec_user
    </select>

    <update id="deleteByUserId" parameterType="String">
        update sec_user
        set is_delete=1
        where id=#{userId}
    </update>
</mapper>
