<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhc.authenticationserver.mapper.SecRoleMapper">
    <resultMap id="BaseResultMap" type="com.fhc.authenticationserver.entity.SecRole">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,name,description,create_time,update_time
    </sql>

    <select id="selectRoleIdByRoleType" resultType="String">
          select id from sec_role where description=#{roleType}
    </select>

    <select id="selectRolesByUserId" resultMap="BaseResultMap">
          SELECT r.* FROM sec_role r,sec_user u,sec_user_role ur
          WHERE u.id = ur.user_id AND r.id = ur.role_id AND u.id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>
