<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhc.authenticationserver.mapper.SecUserMapper">
    <resultMap id="BaseResultMap" type="com.fhc.authenticationserver.entity.SecUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="status" property="status"/>
        <result column="logic_delete" property="logicDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,username,password,nickname,phone,email,birthday,sex,status,logic_delete,create_time,update_time,last_login_time
    </sql>

    <select id="getAllSecUsers" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from sec_user where logic_delete=0
    </select>
    <select id="findByUsernameOrPhone" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from sec_user
        where username=#{username} or phone=#{phone}
    </select>
    <select id="getUserIdByUsername" resultType="String">
        select id
        from sec_user
        where username=#{username}
    </select>
    <select id="findByUsernameIn" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from sec_user
    </select>

    <update id="deleteByUserId" parameterType="String">
        update sec_user
        set logic_delete=1
        where id=#{userId}
    </update>
</mapper>
